<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ekle" method="post" enctype="multipart/form-data">
        <label>Başlık</label>
        <input type="text" name="news-title">
        <label>Bilgi</label>
        <input type="text" name="news-information">
        <label>Kategori</label>
        <input type="text" name="news-categories">
        <label>Resim</label>
        <input type="file" name="news-picture">
        <button type="submit">Kaydet</button>
    </form>
</body>
</html>